Repository pambaka/eCommerce-Application: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --quiet --fix

fix: add changes according the comments
  src/modules/user-navigation/user-navigation.ts
  src/utils/authorization-event.ts
Due: prettier --write, eslint --quiet --fix

Revert "fix: add side menu user settings"
  .env.example
Due: none

Feat/add user menu (#59)
  src/api/sign-in-customer.ts
  src/api/sign-up-customer.ts
  src/app/app.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
  src/modules/header/header.ts
  src/modules/user-navigation/user-navigation.ts
  src/pages/main/main.scss
  src/pages/main/render/render-main.ts
  src/utils/authorization-event.ts
Due: prettier --write, eslint --quiet --fix

fix: change order and remove main link
  src/modules/header/header.scss
  src/modules/header/header.ts
Due: prettier --write, eslint --quiet --fix

fix: change order and remove main link (#60)
  src/modules/header/header.scss
  src/modules/header/header.ts
Due: prettier --write, eslint --quiet --fix

fix: fix for env variables in deploy
  webpack.config.js
Due: prettier --write

chore: fix for env variables in deploy (#61)
  webpack.config.js
Due: prettier --write

fix: fix buttons names
  src/modules/user-navigation/user-navigation.ts
Due: prettier --write, eslint --quiet --fix

refactor/style: add ButtonWithSvgIcon component, add user navigation … (#58)
  src/assets/user-nav-icons-sprite.svg
  src/components/button-with-svg-icon.ts
  src/modules/user-navigation/user-navigation.scss
  src/modules/user-navigation/user-navigation.ts
Due: prettier --write, eslint --quiet --fix

style: style header and body a bit
  src/modules/header/header.scss
  src/modules/header/header.ts
  src/modules/user-navigation/user-navigation.scss
  src/modules/user-navigation/user-navigation.ts
  src/pages/login/render/render-login.ts
  src/style.scss
  src/styles/login-page.scss
Due: prettier --write, eslint --quiet --fix

feat: add title to buttons-icons and role attibute to svg images
  src/components/button-with-svg-icon.ts
  src/components/svg-image.ts
  src/modules/user-navigation/user-navigation.ts
Due: prettier --write, eslint --quiet --fix

fix: fix horizontall scroll (footer), refactor
  src/modules/footer/footer.scss
  src/modules/footer/footer.ts
  src/modules/header/header.scss
  src/style.scss
Due: prettier --write, eslint --quiet --fix

style: change logo and user navigation buttons sizes on smaller screens, fix body width
  src/modules/header/header.scss
  src/modules/user-navigation/user-navigation.scss
  src/style.scss
  src/styles/variables.scss
Due: prettier --write

style: add github icons to footer, rafactor footer code
  src/modules/footer/footer.scss
  src/modules/footer/footer.ts
  src/modules/header/header.scss
Due: prettier --write, eslint --quiet --fix

refactor/fix: add linkImage component
  src/components/link-image.ts
Due: prettier --write, eslint --quiet --fix

fix: add footer icons sprite
  src/assets/footer-icons-sprite.svg
Due: none

chore: add renderLoginPage and signInCustomer functions tests (#52)
  __tests__/mocks/assetsMock.ts
  __tests__/mocks/styleMock.ts
  __tests__/render-login-page.test.ts
  __tests__/sign-in-customer.test.ts
  jest.config.ts
Due: prettier --write, eslint --quiet --fix

style: style header, footer and a little body / main, refactor (#62)
  src/assets/footer-icons-sprite.svg
  src/components/button-with-svg-icon.ts
  src/components/link-image.ts
  src/components/svg-image.ts
  src/modules/footer/footer.scss
  src/modules/footer/footer.ts
  src/modules/header/header.scss
  src/modules/header/header.ts
  src/modules/user-navigation/user-navigation.scss
  src/modules/user-navigation/user-navigation.ts
  src/pages/login/render/render-login.ts
  src/style.scss
  src/styles/login-page.scss
  src/styles/variables.scss
Due: prettier --write, eslint --quiet --fix

chore: fix renderLoginPage test, add getCustomerTokens test
  __tests__/get-customer-tokens.test.ts
  __tests__/render-login-page.test.ts
Due: prettier --write, eslint --quiet --fix

fix: add styles for side-menu scroll and save links after user auth
  src/components/navigation-component.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
Due: prettier --write, eslint --quiet --fix

fix: change validation of dateOfBirth field
  src/modules/input-module.ts
  src/pages/registration/logic/validate-birth-date.ts
  src/pages/registration/logic/validate-name.ts
  src/styles/variables.scss
Due: prettier --write, eslint --quiet --fix

fix: fix going back in history behavior after redirection
  src/api/sign-in-customer.ts
  src/api/sign-up-customer.ts
  src/app/app.ts
  src/modules/user-navigation/user-navigation.ts
  src/utils/replace-location.ts
  src/utils/set-location-hash.ts
Due: prettier --write, eslint --quiet --fix

Update src/pages/registration/logic/validate-birth-date.ts
  src/pages/registration/logic/validate-birth-date.ts
Due: prettier --write, eslint --quiet --fix

fix: RSS-ECOMM-2_09 change validation of dateOfBirth field (#65)
  src/modules/input-module.ts
  src/pages/registration/logic/validate-birth-date.ts
  src/pages/registration/logic/validate-name.ts
  src/styles/variables.scss
Due: prettier --write, eslint --quiet --fix

fix: add one more file to commit with replaceLocation function
  src/modules/header-form/header.ts
Due: prettier --write, eslint --quiet --fix

fix: change scroll styles of side-menu and add redirect util if user authorized
  src/app/app.ts
  src/components/navigation-component.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
  src/utils/redirect-if-authorized.ts
Due: prettier --write, eslint --quiet --fix

fix: reverts commit f6b3900372eb6f9faaaf80c33dd931efd6364712.
  src/components/navigation-component.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
Due: prettier --write, eslint --quiet --fix

fix: fix side menu styles
  src/components/navigation-component.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
Due: prettier --write, eslint --quiet --fix

fix: change padding to padding-top
  src/modules/header/header.scss
Due: prettier --write

fix: fix side menu styles and links settings (#68)
  src/components/navigation-component.ts
  src/components/side-menu-component.ts
  src/modules/header/header.scss
Due: prettier --write, eslint --quiet --fix

fix: change side0menu container overflow setting
  src/modules/header/header.scss
Due: prettier --write

fix: change nav list justify-content settings
  src/modules/header/header.scss
Due: prettier --write

fix: change side-menu container overflow setting (#69)
  src/modules/header/header.scss
Due: prettier --write

fix: fix going back in history behavior after redirection (#66)
  src/api/sign-in-customer.ts
  src/api/sign-up-customer.ts
  src/app/app.ts
  src/modules/header-form/header.ts
  src/modules/user-navigation/user-navigation.ts
  src/utils/replace-location.ts
  src/utils/set-location-hash.ts
Due: prettier --write, eslint --quiet --fix

chore: fix renderLoginPage test, add getCustomerTokens test (#63)
  __tests__/get-customer-tokens.test.ts
  __tests__/render-login-page.test.ts
Due: prettier --write, eslint --quiet --fix

refactor: remove console logs
  src/api/get-customer-tokens.ts
  src/api/sign-in-customer.ts
  src/api/sign-up-customer.ts
Due: prettier --write, eslint --quiet --fix

refactor: remove console logs (#71)
  src/api/get-customer-tokens.ts
  src/api/sign-in-customer.ts
  src/api/sign-up-customer.ts
Due: prettier --write, eslint --quiet --fix

fix: fix log in and sign up buttons
  src/utils/replace-location.ts
Due: prettier --write, eslint --quiet --fix

fix: fix log in and sign up buttons (#72)
  src/utils/replace-location.ts
Due: prettier --write, eslint --quiet --fix

Path conditions:
  prettier --write: any of: *.{ts,css,scss,html,js,json}
  eslint --quiet --fix: any of: *.ts
